@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home/Homepage.css" rel="stylesheet" />

<div class="container-fluid">
    <h2>@ViewBag.Title.</h2>

    @*@Html.ActionLink("Programming", "Programming", "BigIdeas")*@

    <div class="row">
        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">Welcome to BJC!</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">CREATIVITY</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">ABSTRACTION</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>
        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">DATA</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">ALGORITHMS</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="@Url.Action("Programming", "BigIdeas")">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">PROGRAMMING</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">INTERNET</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>
        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front center">
                    <p class="h2">IMPACT</p>
                </div>
                <div class="flip-card-back center">
                    <p>Programming is fun kids give it a shot</p>
                </div>
            </div>
        </a>
    </div>
</div>