@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home/Homepage.css" rel="stylesheet" />

@*<div class="container-fluid">*@
<div class="container body-content">
    <div class="row">
        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2">Welcome<br />to BJC!</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>
                        Click any topic to find courses and resources to help you learn
                        more about the beauty and joy of computing
                    </p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-paint-brush"></i><br />CREATIVITY</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>Computing is a creative activity that promotes innovation and exploration.</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-cube"></i><br />ABSTRACTION</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>
                        A central problem solving technique that reduces information and details to focus on concepts
                        relevant to understanding the problem.
                    </p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-database"></i><br />DATA</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>Information that facilitates knowledge about the world.</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-calculator"></i><br />ALGORITHMS</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>Tools for expressing solutions to computational problems.</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="@Url.Action("Programming", "BigIdeas")">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-code"></i><br />PROGRAMMING</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>Creative process that produces computational artifacts.</p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-wifi"></i><br />INTERNET</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>
                        Digital devices, systems and networks that interconnect to enable
                        computational problem solving.
                    </p>
                </div>
            </div>
        </a>

        <a class="flip-card col-md-3" href="#">
            <div class="flip-card-inner">
                <div class="flip-card-front cardstyles">
                    <p class="h2"><i class="fa fa-globe"></i><br />IMPACT</p>
                </div>
                <div class="flip-card-back cardstyles">
                    <p>
                        Computation has had a profound impact on the way people live, work,
                        play and think. Computing has enabled major innovations in other fields
                        including medicine, engineering, science and even the arts.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>