<link href="~/Content/Home/StudentProfile.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="~/Content/Home/phil_knight.png" class="card-img" style="border-radius: 50%; width: 80%; margin: 30px;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="padding: 2.5rem;">
                                    <h5 class="card-title">Phil Knight</h5>
                                    <p class="card-text"><small class="text-muted">pdknight@email.email</small></p>
                                    <p class="card-text"><small class="text-muted">10th Grade</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-12" id="badges">
                                <div class="card-body">
                                    <h5 class="card-title" style="margin-bottom: 1.25rem;">Badges</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="~/Content/Home/badge_1.png" class="card-img" style="width:100px; height:90px; margin-bottom: 20px;">
                                            <p class="card-text">Level 1</p>
                                            <p class="card-text"><small class="text-muted">complete</small></p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="~/Content/Home/badge_2.png" class="card-img" style="width:100px; height:90px; margin-bottom: 20px;">
                                            <p class="card-text">Activity 3</p>
                                            <p class="card-text"><small class="text-muted">complete</small></p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="~/Content/Home/badge_3.png" class="card-img" style="width:100px; height:90px; margin-bottom: 20px;">
                                            <p class="card-text">Activity 4</p>
                                            <p class="card-text"><small class="text-muted">complete</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7" style="height: 540px;
        overflow-y: scroll;
        padding-right: 0px;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin-bottom: 1rem !important;">
            Courses!
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/Home/programming-languages-learn-header-image.jpg" class="card-img" style="height: 140px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Programming Lesson 1</h5>
                            <p class="card-text">-------------------------------------------------</p>
                            <p class="card-text">48% Complete</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/Home/Computer-Programming2.png" class="card-img" style="height: 140px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Data Lesson 2</h5>
                            <p class="card-text">-------------------------------------------------</p>
                            <p class="card-text">72% Complete</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/Content/Home/internet-of-things-1.jpg" class="card-img" style="height: 140px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Internet Lesson 3</h5>
                            <p class="card-text">-------------------------------------------------</p>
                            <p class="card-text">20% Complete</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>